/* รีเซ็ตค่าเริ่มต้น */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: "Kanit";
    src: url("./Kanit/Kanit-Regular.ttf");
}

body {/*เปลี่ยนสีพื้นหลังหน้าเว็บ*/
    font-family: "Kanit",sans-serif;
    background: #7D0A0A; /*ตั้งพื้นหลังเว็ป เป็นภาพ ใส่ url แล้วชื่อไฟลภาพตาม*/
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 20px;
}

.container {
    width: 100%;
    max-width: 600px;
    background:linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), #BF3131;
    padding:50px;
    border-radius: 20px; /*ทำมุมโค้ง ของกรอบ*/
    box-sizing: border-box;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    border: 5px solid #EAD196; /*ขอบของกรอบ (.container)มีความกว้าง px*/ 
    color:white;
}

.header { /*ส่วนหัวข้อใหญ่แก้ตรงนี้*/
    font-size: 50px; /*ขนาดsize*/
    text-align: center;/*ตรงกลาง*/
    margin-bottom: 20px; /*ระยะห่างจากขอบล่างหัวข้อ*/
    font-weight: bold; /*ฟ้อนตัวหนา*/
    color: white; /*สีข้อความ*/
}
.header-form {
    width: 110px;/*ความกว้าง ขอหัวข้อ*/
}
.flex { /*การจัดตำแหน่ง*/
display: flex;
}
.form-input { /*ความห่างจากด้านล่าง*/
    margin-bottom: 10px;
}

.center {/*กำหนดข้อความให่อยู่ตรงกลาง*/
text-align: center;
}

input.form, textarea {/*เงาหลังกรอบข้อความ*/
    width: 97%;
    padding: 10px;
    border: 2px solid white;
    border-radius: 6px;
    font-size: 16px;
    background:rgba(229, 192, 213, 0.85) ;
    transition: 0.3s;
    max-width: 100%; /*ไม่ให้เกินขอบ*/
}


input.form:focus, textarea:focus {/*คำอธิบาย*/
    border-color:#E07A5F;; /*สีช่องรับข้อมูล*/
    outline: none;
    box-shadow: 0px 0px 8px rgba(211, 104, 166, 0.85);
    border: 5px solid #EAD196;/*แก้ไขสีขอบและขนาดเส้น ช่องรับข้อมูล*/
    width:97%;

}
input.form:hover, textarea:hover{/* แก้ไข การเอาเม้าไปชี้แล้วเปลื่ยนสีช่องข้อความ*/
    background:#E07A5F;
    cursor: pointer;

}


.button {/*ส่งข้อความ*/
    padding: 12px;
    background:#EAD196;
    border: 1px;
    color: white;
    font-size: 18px;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
    width: 40%;
    height: 50px;
   
}
.button{
    font-family: "Kanit";/*การใช้ฟ้อน*/
}
.center .button {
    margin-top: 20px; /* เพิ่มระยะห่าง 20px ระหว่างปุ่ม */
}



.button:hover {/*เปลื่ยนสีเมื่อเม้าชี้*/
    background:#E07A5F;
}

.message {
    display: none;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    font-weight: bold;
}

.message.danger {
    display: block;
    background-color: red;
    color: white;
    padding: 15px;
    border-radius: 10px;
}


@media (max-width: 768px) {
    .container {
        padding: 15px;
    }
    .header {
        font-size: 24px;
    }
    .button {
        font-size: 16px;
    }
}
